<nav class="navbar">
  <!-- logo -->
  <div class="navbar-brand navegation">
    <a class="navbar-item">
      <img src="assets/img/1.jpg">
    </a>
  </div>
  <div class="navbar-brand navegation-b">
    <a class="navbar-item">
      <h1> <img src="assets/img/2.jpg"> Hola, Usuario</h1>
    </a>
  </div>
</nav>

<div>
   <span *ngIf = "isavailable; then condition1 else condition2">
      Condition is valid.
   </span>
  <ng-template #condition1>
    <section>
      <div tabindex="0" class="e-card" id="basic" (click)="reservadesalas($event)"><div class="e-card-header"><div class="e-card-header-caption"><img src="assets/img/a.jpg" [width]="100"></div></div><div class="e-card-content"><div class="e-card-title">Reserva de Salas</div></div></div>
      <div tabindex="0" class="e-card" id="basic" (click)="reportedeproblemas($event)">
        <div class="e-card-header">
          <div class="e-card-header-caption">
            <img src="assets/img/e.jpg" [width]="100">
          </div>
        </div>
        <div class="e-card-content">
          <div class="e-card-title">Reporte de problemas</div>
        </div>
      </div>
      <div tabindex="0" class="e-card" id="basic" (click)="miequipo($event)">
        <div class="e-card-header">
          <div class="e-card-header-caption">
            <img src="assets/img/i.jpg" [width]="100">
          </div>
        </div>
        <div class="e-card-content">
          <div class="e-card-title">Mi equipo</div>
        </div>
      </div>
      <div tabindex="0" class="e-card" id="basic" (click)="comunicados($event)">
        <div class="e-card-header">
          <div class="e-card-header-caption">
            <img src="assets/img/o.jpg" [width]="100">
          </div>
        </div>
        <div class="e-card-content">
          <div class="e-card-title">Comunicados</div>
        </div>
      </div>
      <div tabindex="0" class="e-card" id="basic" (click)="fichasintomatologia($event)">
        <div class="e-card-header">
          <div class="e-card-header-caption">
            <img src="assets/img/u.jpg" [width]="100">
          </div>
        </div>
        <div class="e-card-content">
          <div class="e-card-title">Ficha de sintomatologia</div>
        </div>
      </div>
    </section>

  </ng-template>
  <ng-template #condition2>Condition is invalid</ng-template>
</div>

